<div>
    <img id="house-layout-img" src="../../assets/images/houseLayout.jpeg">

    <app-door [id]="1" class="door-main"></app-door>
    <app-door [id]="2"  class="door-room1"></app-door>
    <app-door [id]="3" class="door-room2"></app-door>
    <app-door [id]="4" class="door-back"></app-door>

    <app-ledlight [id]="1" class="led-room1"></app-ledlight>
    <app-ledlight [id]="2" class="led-room2"></app-ledlight>
    <app-ledlight [id]="3" class="led-living-room"></app-ledlight>
    <app-ledlight [id]="4" class="led-kitchen"></app-ledlight>
    <app-ledlight [id]="5" class="led-bathroom"></app-ledlight>

    <app-camera class="camera"></app-camera>

</div>

